:root {
  --brand-900: #bf7506;
  --brand-500: #dd9c3c;
  --brand-100: #f4debe;
  --neutral-900: #211b12;
  --neutral-500: #83807c;
  --neutral-100: #e0dedc;
}
:root {
  --font-family: "Inter", sans-serif;
  --second-family: "Helvetica", sans-serif;
}
:root {
  --input-width: 435px;
  --hand-width: 680px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: var(--font-family);
  overflow-x: hidden;
}
.container {
  max-width: 870px;
  width: 100%;
  margin-inline: auto;
  padding-inline: 10px;
}
.form-container {
  max-width: 435px;
  width: 100%;
  margin-inline: auto;
}