<style>
  section-developer {
    .developer {
      padding-top: 80px;
      padding-bottom: 20px;
      display: flex;
      align-items: center;
      gap: 55px;
    }

    .developer-photo {
      width: 360px;
      height: 440px;
      flex-shrink: 0;
      object-fit: cover;
      border-radius: 20px;
    }

    .developer-hello {
      font-weight: 400;
      font-size: 24px;
      line-height: 1.35;
      letter-spacing: -0.02em;
      color: var(--neutral-900);
    }

    .developer-title {
      font-weight: 700;
      font-size: 32px;
      line-height: 1.25;
      letter-spacing: -0.03em;
      color: var(--brand-900);
      margin-top: 4px;
      margin-bottom: 16px;
    }

    .developer-text {
      font-weight: 400;
      font-size: 16px;
      line-height: 1.5;
      color: var(--neutral-900);
    }

    .developer-motto {
      font-weight: 400;
      font-size: 24px;
      line-height: 1.5;
      color: var(--brand-500);
      margin: 16px 0;
    }

    .developer-sign {
      min-width: 200px;
      margin-top: 32px;
    }
  }
</style>
<section class="developer">
  <img class="developer-photo" src="img/developer-photo.png" alt="developer" />
  <div class="developer-about">
    <span class="developer-hello">Рад вас видеть</span>
    <h2 class="developer-title">Я Артем Исламов</h2>
    <p class="developer-text">
      Я разрабатываю сайты для людей и компаний. Делаю всё сам: составляю прототип, дизайн-макет, пишу код.
    </p>
    <p class="developer-motto">
      Код, Дизайн, Обучение
    </p>
    <p class="developer-text">
      Могу собрать страницу для вашей компании, даже если запускать её нужно уже завтра. Из инструментов есть:
      Tilda, Webflow, Figma, HTML, CSS, JavaScript и Wordpress
    </p>
    <img class="developer-sign" src="img/sign.png" alt="sign" />
  </div>
</section>