<!-- if(this.btnType === 'link') -->
<style>
  .btn-link {
    padding: 7px 8px;
    display: flex;
    align-items: center;
    gap: 4px;
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5;
    color: var(--neutral-900);
    border-bottom: 2px solid var(--brand-900);
  }
</style>

<a class="btn-link" href="#" >
  <img class="btn-link-icon" src="img/download.svg" alt="download">
  <span class="btn-link-text"><slot></slot></span>
</a>
<!-- endif -->

<!-- if(this.btnType !== 'link') -->
 <style>
  .btn-link {
    border-bottom: 2px solid var(--brand-900);
  }
</style>
<button class="btn-link">button</button>
<!-- endif -->
 
