<style>
  section-skills {
    .skills-title {
      font-weight: 700;
      font-size: 24px;
      line-height: 1.35;
      letter-spacing: -0.02em;
      color: var(--neutral-900);
      margin-bottom: 13px;
    }
  }
</style>
<section class="skills">
  <h2 class="skills-title">Работаю с разными языками и инструментами</h2>
  <ul class="tags">
    <li class="tag-item"><a class="tag" href="#">HTML</a></li>
    <li class="tag-item"><a class="tag" href="#">CSS</a></li>
    <li class="tag-item"><a class="tag" href="#">JavaScript</a></li>
    <li class="tag-item"><a class="tag" href="#">Wordpress</a></li>
    <li class="tag-item"><a class="tag" href="#">npm</a></li>
    <li class="tag-item"><a class="tag" href="#">Reactjs</a></li>
    <li class="tag-item"><a class="tag" href="#">Nextjs</a></li>
    <li class="tag-item"><a class="tag" href="#">UI Design</a></li>
    <li class="tag-item"><a class="tag" href="#">SASS</a></li>
  </ul>
</section>
